{% extends "base.html" %}

{% block content %}
    <section class="register-form">
        <div class="register-box">
            <br />
            <h1>Register</h1>
            <br />
            <form method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
    
                <button type="submit">Register</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <br/>
                            <div class="flash-message error">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </section>
{% endblock %}
